body {
    margin: 0;
    overflow: hidden;
  }
  .video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  #video1, #video2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #video2 {
    opacity: 0; /* Изначально полностью прозрачно */
  }