body {
    margin: 0;
    overflow: hidden;
  }

.video-container{
  width: 100%;
  height: auto;
}


#video1, #video2 {
    position: absolute;
    top: -277px;
    left: 0px;
    width: 1850px;
    height: 1090px;
    overflow: hidden;
  }

#video2 {
    opacity: 0; /* Изначально полностью прозрачно */
  }